h1 {
    text-align: center;
    padding-top: 30px;
}

form {
    margin: auto;
    margin-top: 30px;
    width: 700px;
    text-align: center;
    padding: 30px;
}

label {
    width: 100px;
    font-size: 1.4rem;
}

input {
    width: 300px;
}

#login {
    width: 100px;
    height: 50px;
    font-size: 1.4rem;
    margin-top: 20px;
}

#logout {
    width: 100px;
    height: 50px;
    font-size: 1.4rem;
    margin-top: 20px;
}

a#cancel {
    width: 100px;
    height: 50px;
    font-size: 1.4rem;
    line-height: 50px;
    /* margin-top: 20px; */
    margin-left: 50px;
    text-decoration: none;
    color: black;
    display: inline-block;  
}

h3 {
    margin-top: 30px;
    color: black;
}

#signUp {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    color: black;
    background: rgba( 255, 255, 255, 0.4);
    width: 350px;
}

#edit{
    width: 200px;
    height: 50px;
    font-size: 1.4rem;
    line-height: 50px;
    text-decoration: none;
    color: black;
    display: block;  
    margin: auto;
}


