#SRForm{
    margin-top: 50px;
    margin-left: 50px;
}
.inForm{
    display:inline-block;
    width: 120px;
}
.inForm label, .inForm select{
    margin-top: 5px;
}

#SRForm select{
    color: black;
    font-size: 1.4rem;
}
#SRForm select option{
    color: black;
    font-size: 1.4rem;
    background: rgba( 0, 0, 0, 0.2);
}

.inForm label {
    font-size: 1.4rem;
}

#psLabel{
    font-size:2.5rem;
    color: var(--textColor);
}
#ps{
    color: black;
    font-size: 1.4rem;
    background: rgba( 255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 3.0px);
    border-radius: 10px;
    border: none;
}
#sendOut{
    color: black;
    width: 60px;
    height: 30px;
    border: none;
}
