#mainGrid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

#productType ul li {
    list-style-type: none;
    font-size: 1.4rem;
}

#productGrid {
    display: grid;
    grid-template-columns: repeat(3, calc(var(--xlWidth) / 4));
    /* grid-template-rows: calc((var(--xlWidth) / 4)); */
    justify-content: space-around;
    row-gap: 30px;
}
a.pdCard{
    text-decoration: none;
}

.pdCard h4 {
    color: black;
    /* height: calc((var(--xlWidth) / 4) * 0.2); */
    font-size: 1.2rem;
    margin: 0;
    border-radius: 8px 8px 0 0;
    padding: 5px;
}

.cardImg {
    width: 50%;
    height: calc((var(--xlWidth) / 4) * 0.8);
    float: left;
    border-radius: 0 0 0 8px;
}

.cardDesc {
    width: 50%;
    height: calc((var(--xlWidth) / 4) * 0.8);
    float: right;
    padding: 5px;
}

.cardDesc pre:first-child {
    height: 80%;
    overflow: hidden;
    color: black;
    margin-bottom: 7px;
    font-size: 0.92rem;
    white-space: pre-wrap;
}

.cardDesc p:last-child {
    /* height: 20%; */
    color: black;
    text-align: center;
    /* line-height: 20%; */
    padding: 5px;
}